<div class="container">
    <h4>Administração - Contacto</h4>
    <hr />
    <div class="row">
        <div class="col-sm-12" ng-controller="adminContactController">
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                        <input type="text" class="form-control" placeholder="Procurar..." ng-model="searchText">
                    </div>
                </div>
            </form>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th><a ng-click="sortType = 'Id'; sortReverse = !sortReverse">Id</a></th>
                        <th><a ng-click="sortType = 'Name'; sortReverse = !sortReverse">Nome</a></th>
                        <th><a ng-click="sortType = 'Email'; sortReverse = !sortReverse">Email</a></th>
                        <th><a ng-click="sortType = 'Telefone'; sortReverse = !sortReverse">Telefone</a></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat-start="record in recordList | orderBy:sortType:sortReverse | filter:searchText">
                        <td><button class="btn btn-default btn-xs" ng-click="showDetail(record)"><span class="glyphicon glyphicon-eye-open"></span></button></td>
                        <td>{{record.Id}}</td>
                        <td>{{record.Name}}</td>
                        <td>{{record.Email}}</td>
                        <td>{{record.Telefone}}</td>
                    </tr>

                    <tr ng-repeat-end ng-show="record.Detail">
                        <td colspan="6">
                            <div class="col-sm-6">
                                <b>Assunto</b>: {{record.Detail.Subject}}
                            </div>
                            <div class="col-sm-6" ng-show="record.Detail.Areas.length > 0">

                                <b>Areas de Interesse</b>:
                                <ul>
                                    <li ng-repeat="area in record.Detail.Areas">{{area}}</li>
                                </ul>

                            </div>
                            <div class="col-sm-6">
                                <b>Mensagem</b>: {{record.Message}}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
